# Alfresco Tomcat Systemd Startup script
# Authors: loftux, housni, cuspycode

[Unit]
Description=Alfresco Community Tomcat service

[Service]
Type=forking
ExecStart=/opt/alfresco/alfresco-service.sh servicestart
ExecStop=/opt/alfresco/alfresco-service.sh servicestop
Restart=always
User=alfresco
WorkingDirectory=/opt/alfresco/logs
LimitNOFILE=8192:65536

[Install]
WantedBy=multi-user.target